<div class="game">

  <a-scene arjs="debugUIEnabled: false" vr-mode-ui="enabled: false">
    <a-assets>
      <a-asset-item id="helmet" src="img/models/helmet.gltf"></a-asset-item>
      <a-asset-item id="helmet_animate" src="img/models/helmet_animate.gltf"></a-asset-item>
      <a-asset-item id="rocket" src="img/models/rocket.gltf"></a-asset-item>
      <a-asset-item id="rocket_animate" src="img/models/rocket_animate.gltf"></a-asset-item>
      <a-asset-item id="trajectory" src="img/models/trajectory.gltf"></a-asset-item>
      <a-asset-item id="trajectory_animate" src="img/models/trajectory_animate.gltf"></a-asset-item>
      <a-asset-item id="eagle" src="img/models/eagle.gltf"></a-asset-item>
      <a-asset-item id="eagle_animate" src="img/models/eagle_animate.gltf"></a-asset-item>
      <a-asset-item id="map" src="img/models/map.gltf"></a-asset-item>
      <a-asset-item id="map_animate" src="img/models/map_animate.gltf"></a-asset-item>
    </a-assets>

    <a-marker type="pattern" url="img/markers/helmet.patt" registerevents-helmet v-if="true || showHelmetMarker">
      <a-gltf-model
        src="#helmet"
        rotation="-90 0 0"
        scale="1 1 1"
        position="0 1 0"
        visible="true"></a-gltf-model>
      <a-gltf-model
        src="#helmet_animate"
        rotation="-90 0 0"
        scale="1 1 1"
        position="0 1 0"
        animation-mixer
        visible="false"></a-gltf-model>
    </a-marker>

    <a-marker type="pattern" url="img/markers/rocket.patt" registerevents-rocket v-if="true || showRocketMarker">
      <a-gltf-model
        src="#rocket"
        rotation="-90 0 0"
        scale="1 1 1"
        position="0 1 0"></a-gltf-model>
      <a-gltf-model
        src="#rocket_animate"
        rotation="-90 0 0"
        scale="1 1 1"
        position="0 1 0"
        animation-mixer
        visible="false"></a-gltf-model>
    </a-marker>

    <a-marker type="pattern" url="img/markers/trajectory.patt" registerevents-trajectory v-if="true || showTrajectoryMarker">
      <a-gltf-model
        src="#trajectory"
        rotation="-90 0 0"
        scale="1 1 1"
        position="0 1 0"></a-gltf-model>
      <a-gltf-model
        src="#trajectory_animate"
        rotation="-90 0 0"
        scale="1 1 1"
        position="0 1 0"
        animation-mixer
        visible="false"></a-gltf-model>
    </a-marker>

    <a-marker type="pattern" url="img/markers/eagle.patt" registerevents-eagle v-if="true || showEagleMarker">
      <a-gltf-model
        src="#eagle"
        rotation="-90 0 0"
        position="0 2 0"
        scale="1 1 1"></a-gltf-model>
      <a-gltf-model
        src="#eagle_animate"
        rotation="-90 0 0"
        scale="1 1 1"
        position="0 1 0"
        animation-mixer
        visible="false"></a-gltf-model>
    </a-marker>

    <a-marker type="pattern" url="img/markers/map.patt" registerevents-map v-if="true || showMapMarker">
      <a-gltf-model
        src="#map"
        rotation="-65 0 0"
        scale="1 1 1"
        position="0 1 0"></a-gltf-model>
      <a-gltf-model
        src="#map_animate"
        rotation="-90 0 0"
        scale="1 1 1"
        position="0 1 0"
        animation-mixer
        visible="false"></a-gltf-model>
    </a-marker>

    <a-entity light="type: ambient; color: #ccc;"></a-entity>
    <a-entity light="type: directional; color: #ccc; intensity: 2.5;" position="0 14 0"></a-entity>
    <a-entity light="type: directional; color: #ccc; intensity: 1.5;" position="0 0 14"></a-entity>
    <a-entity light="type: directional; color: #ccc; intensity: 1.5;" position="0 0 -14"></a-entity>

    <a-entity camera></a-entity>
  </a-scene>


  <transition name="anim-fade" mode="out-in">
    <router-view class="content" />
  </transition>

</div>
