.inventory {
  background: var(--gray-800-50);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 2.5rem;
  left: 0;
  position: fixed;
  width: 100%;

  & .item {
    height: 60%;
    fill: var(--gray-400);
    transition: 1s;

    &.active {
      fill: var(--green-400);
      animation: bounce-in .5s;
    }
  }
}
