@import "./colors.css";
@import "./animations.css";
/* Fonts
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900);

/* Common
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body
   ========================================================================== */
body {
  color: var(--black-400);
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  &.no-scroll {
    overflow: hidden;
  }
}

/* Titles
   ========================================================================== */

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.25rem;
  font-weight: normal;
}

/* SVGs & images
   ========================================================================== */
svg {
  width: 100%;
}

.startButton {
  align-items: center;
  background: var(--gray-800-50);
  color: var(--gray-400);
  display: flex;
  left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid var(--turquoise-400);

  & span {
    flex: 1 0 auto;
	  font-size: 1rem;
	  font-weight: bold;
    color: var(--turquoise-400);
  }

}
