<div class="question">
  <svg-question class="question-icon" />

  <fta-textbox>
    <p>¿Cómo se llama a la operación de posarse en la superficie de la Luna?</p>
  </fta-textbox>

  <div class="answers">
    <button ref="tierra" class="answer" v-on:click="checkAnswer('tierra')"><svg-arrow class="arrow" /><span class="answer-text">Aterrizar</span></button>
    <button ref="luna" class="answer" v-on:click="checkAnswer('luna')"><svg-arrow class="arrow" /><span class="answer-text">Alunizar</span></button>
    <button ref="cine" class="answer" v-on:click="checkAnswer('cine')"><svg-arrow class="arrow" /><span class="answer-text">Alucinar</span></button>
  </div>

  <transition name="anim-fade">
    <div ref="nextStep" v-if="showNextStep">
      <button class="startButton" v-on:click="goNext"><span>Prepárate para alunizar</span></button>
    </div>
  </transition>

</div>
