<div class="question">
  <svg-question class="question-icon" />

  <fta-textbox>
    <p>¿En qué guerra participó "Hap" como experta en materiales?</p>
  </fta-textbox>

  <div class="answers">
    <button ref="iww" class="answer" v-on:click="checkAnswer('iww')"><svg-arrow class="arrow" /><span class="answer-text">I Guerra Mundial</span></button>
    <button ref="iiww" class="answer" v-on:click="checkAnswer('iiww')"><svg-arrow class="arrow" /><span class="answer-text">II Guerra Mundial</span></button>
    <button ref="gca" class="answer" v-on:click="checkAnswer('gca')"><svg-arrow class="arrow" /><span class="answer-text">La Guerra de los 100 años</span></button>
  </div>

  <div ref="nextStep" class="nextStep">
    <transition name="anim-fade">
      <button class="startButton" v-on:click="goNext" v-if="showNextStep"><span>¡Abróchate los cinturones!</span></button>
    </transition>
  </div>

</div>
