<div class="question">
  <svg-question class="question-icon" />

  <fta-textbox>
    <p>¿Qué ciencia se encarga de estudiar la superficie de la Luna?</p>
  </fta-textbox>

  <div class="answers">
    <button ref="lunografia" class="answer" v-on:click="checkAnswer('lunografia')"><svg-arrow class="arrow" /><span class="answer-text">Lunografía</span></button>
    <button ref="selenografia" class="answer" v-on:click="checkAnswer('selenografia')"><svg-arrow class="arrow" /><span class="answer-text">Selenografía</span></button>
    <button ref="cartografia" class="answer" v-on:click="checkAnswer('cartografia')"><svg-arrow class="arrow" /><span class="answer-text">Cartografía lunar</span></button>
  </div>

  <transition name="anim-fade">
    <div ref="nextStep" hidden=true>
      <button class="startButton" v-on:click="goNext"><span>Date un paseo por la superficie lunar</span></button>
    </div>
  </transition>

</div>
