<div class="intro">
  <fta-textbox>
    <p>
      Julio de 1969 el mundo contenía el aliento mientras el módulo lunar Eagle descendía a
		  la superficie lunar.
    </p>
    <p>
      Prepárate para convertirte en astronauta del Apolo 11 y descubre a hombres y mujeres
			que fueron decisivas en la historia de la Humanidad en la Luna.
    </p>
  </fta-textbox>

  <fta-textbox>
    <p>Lo primero, consigue tu traje espacial para poder realizar una EVA.</p>
  </fta-textbox>

  <button class="start-button" @click="onClickStartButton">
    ¡Empezamos!
  </button>
</div>
