.certificate {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;

  & > * {
    margin-top: 2rem;
  }
}

