<div class="certificate">
  <svg-congratulations class="congratulations" />

  <fta-textbox>
    <p>Has llegado hasta el final de la Misión Apolo, gracias a la ayuda de hombres y mujeres increíbles</p>
    <p>Pon tu nombre y recibe tu diploma por cumplir la misión</p>
  </fta-textbox>

  <form class="form-certificate" @submit.prevent="generateCertificate">
    <input type="text" class="inputCertificate" v-model="astroName" required placeholder="p.e.: Neil..." />
    <button class="startButton" type="submit"><span>Consigue tu diploma</span></button>
  </form>

  <svg-certificate class="diploma" ref="certificate" id="certificate" />
</div>
