.certificate {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;

  & > * {
    margin-top: 2rem;
  }
  & .congratulations {
    width: 80%;
  }
}

.form-certificate {
  width: 90%;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  &.inputCertificate {
    width: 100%;
  }

  & .startButton {
    width: max-content;
    margin: 1rem auto;
  }
}

.diploma {
  width: 90vw;
  margin-bottom: 4rem;
}

.diploma-hidden {
  position: fixed;
  bottom: -1000rem;
  width: 2000px;
}

